<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.marchuck.catchemall">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/charizard"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".activities.FightActivity"
            android:label="@string/title_activity_fight" />
        <activity
            android:name=".activities.PokeInfoActivity"
            android:label="@string/title_activity_pokemon_info" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PokeTypeActivity"
            android:label="@string/title_activity_poke_type"/>

        <service
            android:name=".connection.DownloadService"
            android:exported="false"/>
    </application>

</manifest>